* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(245, 245, 245, 1);
}

/* #region shared */

.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-style: normal;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.btn-primary {
  border-radius: 8px;
  border: none;
  color: white;
}

button:hover {
  background-color: #32524b;
}

.container {
  margin-left: 160px;
  margin-right: 160px;
}

.container-margin-top-bottom {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-title {
  font-size: 40px;
}

.cards {
  display: flex;
  gap: 24px;
}

.card-primary {
  padding: 24px;
  border-radius: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.8);
}

.description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
}

section > .description {
  margin-top: 24px;
}

/* #endregion shared styles */

/* #region nav */
nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.nav-title {
  font-size: 32px;
  margin: 31px 0;
}

.nav-btn-signin {
  font-size: 18px;
  color: #006a50;
  margin: 24px 0;
  padding: 15px 30px;
  background-color: white;
  border-color: #006a50;
  border-radius: 8px;
  border-width: 1px;
}
/* #endregion nav */

/* #region banner */
.banner {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 80px 59.99px;
  background-color: #c6e4d6;
  border-radius: 24px;
}

.banner-title {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}

.banner-slogan {
  font-size: 56px;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.banner-btn-explore {
  padding: 17px 34px;
  background-color: #006a50;
}
/* #endregion banner */

/* #region pillar */

.pillar-bg {
  background-color: rgba(255, 255, 255, 1);
}

/* #endregion pillar */

/* #region vision of future */
.vision1-bg {
  background-color: rgba(84, 144, 245, 0.2);
}

.vision1-button {
  padding: 11px 20px;
  background-color: rgba(84, 144, 245, 1);
  margin-top: 24px;
  margin-bottom: 32;
}

.vision2-bg {
  background-color: rgba(198, 228, 214, 1);
}

.vision2-button {
  padding: 11px 20px;
  background-color: rgba(9, 161, 92, 1);
  margin-top: 24px;
  margin-bottom: 32;
}

.vision3-bg {
  background-color: rgba(247, 235, 207, 1);
}

.vision3-button {
  padding: 11px 20px;
  background-color: rgba(255, 194, 57, 1);
  margin-top: 24px;
  margin-bottom: 32;
}

.quote {
  padding: 24px;
  border-radius: 16px;
}

.quote-bg {
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.quote-by {
  font-size: 20px;
  margin-top: 12px;
}

/* #endregion vision of future */

/* #region recent news */

.news-contrainers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.news-container {
  display: flex;
  gap: 32px;
  padding: 48px 48px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
}

.news-image {
  border-radius: 24px;
  object-fit: cover;
}

.news-headline {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
}

.news-channel {
  margin-top: 12px;
  margin-bottom: 10px;
}

.news-published-date {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
  margin-bottom: 12px;
}

.btn-news {
  padding: 13px 26px;
  background-color: rgba(0, 106, 80, 1);
  margin-top: 32px;
}
/* #endregion recent news */
